<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LNU PAGE</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">WELCOME TO LNU COLLEGES</h1>
        </div>
    </header>

    <div class="container">
        <div class="card">
            <a href="coe.png" target="_blank">
                <img src="coe.png" alt="College of Engineering">
            </a>
            <p>College of Education</p>
        </div>
        <div class="card">
            <a href="cas.png" target="_blank">
                <img src="cas.png" alt="College of Arts and Sciences">
            </a>
           <p>College of Arts and Sciences</p>
        </div>
        <div class="card">
            <a href="cme.png" target="_blank">
                <img src="cme.png" alt="College of Management and Entrepreneurship">
            </a>
            <p>College of Management and Entrepreneurship</p>
        </div>
    </div>
</body>
</html>